@import "reset";
@import "config/colors";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "modules/flash";
@import "modules/group";

.waper {
  display: flex;
  height: 100vh;
}
.side-ber {
  width: 300px;
  height: 100vh;
  display: block;
  float: left;
  color: #fff;

  &__user-name {
    height: 100px;
    display: flex;
    background-color: #253141;
    align-items: center;
    padding: 0 20px;
    &__side-box__user-name {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        display: flex;
        li {
          margin-left: 5px;
        }
        a {
          color: #FFF;
        }
      }          
    }
  }

  &__group-list{
    width: 300px;
    height: calc(100% - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    .group {
      margin-bottom: 40px;
      .group__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group__message {
        font-size: 11px;
      }
      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}
.main-ber {
  width: calc(100% - 300px);
  height: 100vh;
  float: right;
  display: block;
  overflow: scroll;
  &__chat-main__group-info {
    height: 100px;
    background-color: #fff;
    padding: 0 40px;
    display: flex;
    overflow: scroll;
    border-bottom: solid 1px #eeeeee;
    &__chat-header-left-box {
      margin-top: 35px;
      &__chat-header-name {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__chat-header-member {
        color: #999999;
        font-size: 11px;
        display: flex;
      }
    }
    &__chat-header-edit-btn {
      height: 40px;
      width: 72px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      position: absolute;
      border: solid 1px #38aef0;
      right: 40px;

      .btn {
        text-decoration: none;
      }
    }
  }

  .messages {
    height: calc(100% - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    overflow: scroll;
    .message{
      .upper-message {
        display: flex;
        margin-bottom: 12px;
        .upper-message__user-name {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        .upper-message__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }  
      .lower-message {
        margin-bottom: 46px;
        font-size: 14px;
        color: #343434;
      }
    }
  }

  &__chat-main__message-form {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    padding: 0 40px;
    &__box {
      height: 50px;
      width: 100%;
      display: flex;
      &__text-box {
        // position: relative;
        width: 100%;
        .form{
          .new_message{
            display: flex;
          }
          .form__message{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            line-height: 50px;
          }
          .form__mask{
            position: relative;
            .form__mask__image {
              text-align: center;
              .icon {
              position: absolute;
              top: 10px;
              right: 10px;
              font-size: x-large;
              cursor: pointer
              }
              .hidden {
                display: none;
              }
            }
          }
        }
        .form__submit {
          background-color: #38aef0;
          font-size: 16px;
          color: snow;
          line-height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
    
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}